---
layout: default
title: Events
---

<div class="Home">
  <!-- Socratic Seminars -->
  <div class="Home-posts">
    <h2 class="Home-posts-title">Socratic Seminars</h2>
    {% for post in site.posts %}
      {% if post.type == "socratic" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Upcoming Workshops & Events -->
  <div class="Home-posts">
    <h2 class="Home-posts-title">Upcoming Events</h2>
    {% for post in site.posts %}
      {% if post.type == "bootcamp" or post.type == "hackathon" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Past Meetups -->
  <div class="Home-posts">
    <h2 class="Home-posts-title">Past Events</h2>
    {% for post in site.posts %}
      {% if post.type == "meetup" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

